.AboutSection{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    
.aboutInfos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9.5625rem;
    flex:1;
}

.profilepicdiv{
    flex: 1;
    display: flex;
    width: 100%;
    border: 1px solid green;
    justify-content: center;
}


.infoAbout{
display: flex;
width: 100%;
padding: 0rem 3rem;
flex-direction: column;
align-items: flex-start;
border: 1px solid green;



.infoAboutBis{

    display: flex;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
    gap: 6rem;
    
    
    .aboutDetails{
        display: flex;
        width: fit-content;
        padding: 0.625rem 0rem;
        flex-direction: column;
        align-items: flex-start;
        
    }
}
}
    
}