.circle{
    position: relative;
    width: 136px;
    height: 116px;
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 500ms ease-in-out;
}
.circle:hover{
    // background-color: rgba(93, 204, 255, 0.1);
    cursor: pointer;
}

.vector{
    stroke: rgba(255, 255, 255, 0);
    transition: 500ms ease-in-out;
}

.circle:hover > .logo{
    animation: rotateText 3s linear reverse infinite;
    .vector{
        stroke:white ;
    }
}


.logo{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(5px);
}
.text{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
    animation: rotateText 10s linear infinite;
}

@keyframes rotateText{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

